DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=

# text2image 2D cube
TEXT2IMAGE_ROOT=C:\Users\admin\Desktop\text2image_Jenny\text2image
TEXT2IMAGE_PYTHON=C:\Users\admin\Desktop\text2image_Jenny\text2image\.venv\Scripts\python.exe
# TEXT2IMAGE_MOCK=1

# Trellis 3D
TRELLIS_ROOT=C:\Users\admin\Desktop\trellis\TRELLIS
TRELLIS_MODEL=C:\Users\admin\Desktop\trellis\TRELLIS-text-base
TRELLIS_PYTHON=C:\Users\admin\Desktop\trellis\.venv\Scripts\python.exe
ATTN_BACKEND=xformers
SPCONV_ALGO=native
# TRELLIS_MOCK=1

# Unity 探針
UNITY_API_KEY=